<div>
    <img src="~/Content/noIe.png" />
    <p>Internet Explorer non è supportato su questo portale. Per un correttamento funzionamento del portale è richiesto l'utilizzo di Google Chrome/Firefox/Microsoft Edge.</p>
    <p>Internet Explorer is not supported on this portal. The use of Google Chrome/Firefox/Microsoft Edge is required for the visualizzation of the portal.</p>
    <p>Internet Explorer wird auf diesem Portal nicht unterstützt. Zu einem richtigen Funktion des Portals ist die  Verwendung von Google Chrome/Firefox/Microsoft Edge gefordert.</p>
</div>